{
    email ssc114321@gmail.com
}

forgetheworld.duckdns.org {
    # Backend Endpoints
    @backend_paths {
        path /scan /generate-image /evolve /scan-skill /docs* /openapi.json
    }
    handle @backend_paths {
        reverse_proxy backend:8000
    }

    # Frontend (Default)
    reverse_proxy frontend:3000
}
